#bicycleHeaderMenu {
  border-right: 1px solid black;
  margin-top: 0;
  position: fixed;
  top: 0;

  background-color: whitesmoke;
  z-index: 1000;
  width: 20em;
  height: 100vh;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

.showMenu {
  visibility: visible;
  left: -20em;

  transition: all 1s ease;
  transform: translateX(20em);
}

.hideMenu {
  visibility: hidden;

  left: 0;

  transition: all 1s ease;
  transform: translateX(-20em);
}

/* .showMenuIcon {
  /* transition: transform .2s ease;
  transform: rotate(0deg);  
} */

.hideMenuIcon {
  transition: transform .2s ease;
  transform: rotate(45deg);
}

/* .showCloseIcon {
  /* transition: all .2s ease;
  transform: rotate(0deg); 
} */

.hideCloseIcon {
  transition: transform .2s ease;
  transform: rotate(45deg);
}

#bicycleHeaderMenu>svg {
  margin: 1em 2em 2em;
}

#bicycleHeaderMenu>p {
  font-weight: bold;
  margin: 2em 2em 0;
  padding: .5em;
}

#bicycleHeaderMenu>p:hover {
  background-color: var(--bicycle-theme-dark);
  color: var(--bicycle-theme-dark-contrast);
}

#bicycleHeaderContainer {
  position: fixed;
  top: 0;

  color: var(--bicycle-theme-dark-contrast);
  background-color: var(--bicycle-theme-dark);
  width: 100vw;
  height: 4em;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

#bicycleHeaderContainer>* {
  font-weight: bold;
  font-size: larger;
  margin: 0 1em;
}

#bicycleHeaderHamburger,
#bicycleHeaderClose {
  width: 2em;
  height: 2em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}